* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(227, 156, 23);
    
}

.container {
    background-color: black;
    height: 300px;
    width: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.smiley {
    background-color: black;
    padding-top: 60px;
    font-size: 80px;
}

#joke {
    margin: auto;
    width: 38%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight : bold ;
}